circle {
    transition: 200ms;
    transform-origin: center;
  }
  
  circle:hover {
    transform: scale(1.5);
    stroke: black;
    stroke-width: 1px;
  }
  circle {
    transition: 200ms;
    transform-origin: center;
    transform-box: fill-box;
  }
  
  circle:hover {
    transform: scale(1.5);
  }
  
  dl.info[hidden]:not(:hover, :focus-within) {
    opacity: 0;
    visibility: hidden;
  }
  
  dl.info {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 0.5em;            
    transition-duration: 500ms;
    transition-property: opacity, visibility;      
  }